In [1]:
import os
import django

os.environ["DJANGO_SETTINGS_MODULE"] = 'config.settings'
os.environ["DJANGO_ALLOW_ASYNC_UNSAFE"] = 'true'

django.setup()

In [11]:


# 삽입
# 모델 객체 생성 person = Person(first_name="hong",last_name="dong") person.save()
# create() : Person.objects.create(first_name="hong",last_name="dong")

Person.objects.create(first_name="hong",last_name="dong")

In [12]:
Person.objects.create(first_name="sun",last_name="flower")
Person.objects.create(first_name="kim",last_name="eunji")

In [3]:
from app1.models import Person

# 전체 조회 : all()
qs = Person.objects.all()
qs

In [4]:
print(qs.query)

SELECT "person"."id", "person"."first_name", "person"."last_name", "person"."created_at" FROM "person"

In [5]:
# 하나 조회

Person.objects.get(id=1)

In [6]:
# 하나 조회

Person.objects.filter(id=1)

In [7]:
# like : first_name 에 kim 포함하고 있는

Person.objects.filter(first_name__contains='kim')

In [8]:
Person.objects.filter(id=5)

In [9]:
Person.objects.all()[1]

Person.objects.all()[:2]

In [10]:
# quertset =>list 구조로 변환
list(Person.objects.all())

#### Post 모델

In [2]:
from app1.models import Post

Post.objects.all()

In [3]:
# 전체 행 개수 조회

Post.objects.count()

2

In [4]:
# 오름차순 정렬
Post.objects.order_by("created_at")

In [5]:
# 내림차순 정렬
Post.objects.order_by("-created_at")

In [6]:
# exclue(조건) : 조건을  제외한 모든 행 조회
Post.objects.exclude(id=3)

In [7]:
qs= Post.objects.all()

for post in qs:
    print(post.id,post.title,post.contnet)

1 asdf sadf
2 모델1 ㅁㄴㅇ

In [8]:
# title에 장고라는 문자가 포함된 행 조회 : contains, icontains(대소문자 구별 말고)
Post.objects.filter(title__contains ="장고")

In [9]:
# title에 장고라는 문자가 포함되고, 작성자가 성춘향인 글 
# 괄호 안에 1개 이상의 인자 지정하면 무조건 and 개념임, or는 다른 방식 사용
Post.objects.filter(title__contains="장고",author_name="성춘향")

In [10]:
Post.objects.filter(title__contains="장고").order_by("-created_at")

In [11]:
qs.get(id=1)

In [12]:
qs.first()

In [14]:
qs.last()