In [1]:
import os
import django

os.environ["DJANGO_SETTINGS_MODULE"] = 'config.settings'
os.environ["DJANGO_ALLOW_ASYNC_UNSAFE"] = 'true'

django.setup()

In [11]:


# 삽입
# 모델 객체 생성 person = Person(first_name="hong",last_name="dong") person.save()
# create() : Person.objects.create(first_name="hong",last_name="dong")

Person.objects.create(first_name="hong",last_name="dong")

In [12]:
Person.objects.create(first_name="sun",last_name="flower")
Person.objects.create(first_name="kim",last_name="eunji")

In [3]:
from app1.models import Person

# 전체 조회 : all()
qs = Person.objects.all()
qs

In [4]:
print(qs.query)

SELECT "person"."id", "person"."first_name", "person"."last_name", "person"."created_at" FROM "person"

In [5]:
# 하나 조회

Person.objects.get(id=1)

In [6]:
# 하나 조회

Person.objects.filter(id=1)

In [7]:
# like : first_name 에 kim 포함하고 있는

Person.objects.filter(first_name__contains='kim')

In [8]:
Person.objects.filter(id=5)

In [9]:
Person.objects.all()[1]

Person.objects.all()[:2]

In [10]:
# quertset =>list 구조로 변환
list(Person.objects.all())

#### Post 모델

In [2]:
from app1.models import Post

Post.objects.all()

In [3]:
# 전체 행 개수 조회

Post.objects.count()

2

In [4]:
# 오름차순 정렬
Post.objects.order_by("created_at")

In [5]:
# 내림차순 정렬
Post.objects.order_by("-created_at")

In [6]:
# exclue(조건) : 조건을  제외한 모든 행 조회
Post.objects.exclude(id=3)

In [7]:
qs= Post.objects.all()

for post in qs:
    print(post.id,post.title,post.contnet)

1 asdf sadf
2 모델1 ㅁㄴㅇ

In [8]:
# title에 장고라는 문자가 포함된 행 조회 : contains, icontains(대소문자 구별 말고)
Post.objects.filter(title__contains ="장고")

In [9]:
# title에 장고라는 문자가 포함되고, 작성자가 성춘향인 글 
# 괄호 안에 1개 이상의 인자 지정하면 무조건 and 개념임, or는 다른 방식 사용
Post.objects.filter(title__contains="장고",author_name="성춘향")

In [10]:
Post.objects.filter(title__contains="장고").order_by("-created_at")

In [11]:
qs.get(id=1)

In [12]:
qs.first()

In [14]:
qs.last()

#### Musician

In [3]:
from exam.models import Musician

# 전체조회

musician= Musician.objects.all()
for m in musician:
    print(m.id,m.name, m.instrumnet)

2 홍길동 피아노
3 킴 바이올린
4 이 플룻
5 상 첼로
6 한 팀파니
7 고 유포니엄
8 제갈 피아노

In [4]:
# 특정 조회 : 하나만 조회 get(), 여러개 조회 filter()

Musician.objects.get(id=3)

In [7]:
Musician.objects.filter(id=3)

In [9]:
# 악기가 피아노인 사람 조회
Musician.objects.filter(instrumnet="피아노")

In [11]:
# 악기에 피 라는 글자가 들어간 사람 조회
Musician.objects.filter(instrumnet__contains="피")

In [12]:
# 연주하는 악기가 피아노가 아닌 사람 조회
Musician.objects.exclude(instrumnet="피아노")

#### Comment

In [8]:
from app1.models import Comment,Post


# comment 모두 가져오기
Comment.objects.all()

In [4]:
# id가 1인 comment 조회

comment=Comment.objects.get(id=1)
comment

In [5]:
# id가 1인 comment 의 원본글 정보 조회
comment.post

In [9]:
#post id 가 1인 댓글 모두 조회
post=Post.objects.get(id=1)
comments = Comment.objects.filter(post=post)
for comment in comments:
    print(comment)

아이스크림
ㄱㄴㄷㄹ

In [10]:
# POST 쪽에서 Comment 접근 : 접근하려고하는 모델명소문자_set

post.comment_set.all()